#  Primeiros exemplos

In [ ]:
print('primeiro programa')
1 + 2

help(print)

In [ ]:
1 + 2 + 3
4 + 5 + 6

In [ ]:
print(1 + 2 + 3)
print(4 + 5 + 6)

#  Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui é um texto')
print("Aqui também funciona")
print('Você é ' + 3 * 'muito ' + 'legal')
# print(3 + '3') -> ambiguidade
print([1, 2, 3]) #lista
print({'nome': 'Pedro', 'idade': 33})
print(None)

# Variáveis

In [ ]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma string'
print(a)
a
b

# print(a + b)

# Comentários

In [ ]:
# aaaa
# aaaa
# aaaa


# Minhas variáveis
salario = 3345.42
despesas = 1500.14

"""
A idéia é calcular o valor no final do mes
"""
print(salario - despesas)

# print('Fim')
print('Fim de verdade') # Aqui também serve

# sempre é bom utilizar bons nomes de variáveis

# Operadores aritméticos

In [ ]:
print(2 + 3)
print(4 - 2.1)
print(2 * 5.3)
print(9.4 / 3)

print(9.4 // 3)
print(2 ** 8)
print(10 % 3)

a = 12
b = a
print(a + b)

In [ ]:
# Desafio
salario = 3345.42
despesas = 1500.14

# resposta minha
um_por_cento = salario / 100
porcentagem_despesa_salario = despesas / um_por_cento

print(f'{porcentagem_despesa_salario} por cento')

# resposta cod3r
percentual_comprometido = despesas / salario * 100
print(f'{percentual_comprometido} por cento')

# Operadores Relacionais

In [ ]:
print(3 > 4)
print(4 >= 3)
print(1 < 2)
print(2 <= 2)
print(3 != 2)
print(3 == 3)
print(3 == '3')

# Operadores de atribuição

In [ ]:
a = 3
a = a + 7
a += 5
a -= 3
a *= 2
a /= 4
a %= 4
a **= 8
a //= 256

print(a)

# Operadores lógicos

In [ ]:
print(True or False)
print(7 != 3 and 2 > 3)

# Tabela verdade AND
print('')
print('Tabela verdade AND')
print(True and True)
print(False and True)
print(True and False)
print(False and False)

# Tabela verdade OR
print('')
print('Tabela verdade OR')
print(True or True)
print(False or True)
print(True or False)
print(False or False)

# Tabela verdade XOR
print('')
print('Tabela verdade XOR')
print(True != True)
print(False != True)
print(True != False)
print(False != False)

# Operador de negação (unário)
print('')
print('Operador de negação (unário)')
print(not True)
print(not False)
print(not 0)
print(not not 0)
print(not 1)
print(not not 1)

# Cuidado
print('')
print(True & False)
print(False | True)
print(True ^ False)

# AND Bit-a-Bit
# 3 = 11
# 2 = 10
# _ = 10
print('and bit a bit')
print(3 & 2)

# OR Bit-a-Bit
# 3 = 11
# 2 = 10
# _ = 11
print('and bit a bit')
print(3 | 2)

# AND Bit-a-Bit
# 3 = 11
# 2 = 10
# _ = 01
print('and bit a bit')
print(3 ^ 2)

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario
meta = saldo_positivo and despesas_controladas
print(meta)

In [ ]:
# Desafio Operadores lógicos

# Os Trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
- Confirmando os 2: TV 50' + sorvete
- Confirmando apenas 1: TV 32' + sorvete
- Nenhum confirmado: Fica em casa + saude
"""

comprou_tv_50 = trabalho_terca and trabalho_quinta 
comprou_tv_32 = trabalho_terca or trabalho_quinta 
tomou_sorvete = comprou_tv_50 != comprou_tv_32
mais_saudavel = not tomou_sorvete
print("Tv50={} TV32={} Sorvete={} Saudavel={}"
      .format(comprou_tv_50, comprou_tv_32, tomou_sorvete, mais_saudavel))

# Operadores unários

In [ ]:
a = 3
a += 1
print(a)
a = -a
print(a)
a = -a
print(a)

print(not 0)
print(not 1)

# Operador ternário

In [ ]:
esta_chovendo = True
print('Hoje estou com as roupas ' + ('secas', 'molhadas')[esta_chovendo])
print(f'Hoje estou com as roupas {("secas", "molhadas")[esta_chovendo]}')

# Mais operadores

In [ ]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
print(('2 não está na lista', '2 está na lista')[2 in lista])
print(('Ana está na lista', 'Ana não está na lista')['Ana' not in lista])

# Operador de Identidade
x = 3
y = x
z = 3
print(x is y)
print(y is z)
print(x is not z)

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

print('')
print(lista_a is lista_b)
print(lista_b is lista_c)
print(lista_a is not lista_c)

# Builtins

In [10]:
print(__builtins__.type('Fala galera'))
__builtins__.print(10 / 3)


#__builtins__.help(__builtins__.dir)

# 1 + 2
# _
# import math
# dir()
# dir(__builtins__)

nome = 'João da Silva'
type(nome)
__builtin__.len(nome)

dir()

<class 'str'>
3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '_3',
 '_4',
 '_5',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'math',
 'nome',
 'quit']

# Conversão de Tipos

In [17]:
print(2 + 3)
print('2' + '3')
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

print(type(str(a)))

# print(2 + int(3.4))
print(2 + float(3.4))

5
23
<class 'int'>
<class 'str'>
5
23
<class 'str'>
5.4

# Coerção automática

In [20]:
print(10 / 2)
print(type(10 / 2))
print(10 / 3)
print(10 // 3)
print(type(10 // 3))
print(10 // 3.3)
print(type(10 // 3.3))
print(10 / 2.5)
print(2 + True)
print(2 + False)
print(type(1 + 2))
print(type(1 + 2.5))

5.0
<class 'float'>
3.3333333333333335
3
<class 'int'>
3.0
<class 'float'>
4.0
3
2
<class 'int'>
<class 'float'>

# Numeros

In [27]:
# dir(int)
# dir(float)

a = 5
b = 2.5

print(a / b)
print(a + b)
print(a * b)

print(type(a))
print(type(b))
print(type(a - b))

print(b.is_integer())
print(5.0.is_integer())

print(int.__add__(2, 3))
print(2 + 3)

print((-2).__abs__())
print(abs(-2))

print((-3.6).__abs__())
print(abs(-3.6))

2.0
7.5
12.5
<class 'int'>
<class 'float'>
<class 'float'>
False
True
5
5
2
2
3.6

3.6

In [37]:
print(1.1 + 2.2)
from decimal import Decimal, getcontext

print(Decimal(1) / Decimal(7))

getcontext().prec = 2
print(Decimal(1) / Decimal(7))
print(Decimal.max(Decimal(1), Decimal(7)))
dir(Decimal)

print(Decimal(1.1) + Decimal(2.2))

3.3000000000000003
0.14
0.14
7
3.3

#  String

In [49]:
# dir(str)

nome = 'Saulo Pedro'
print(nome)
print(nome[0])
# nome[0] = 'P'
# A string é imutavel

#'marca d'agua'
print("Dias D'Avila" == 'Dias D\'Avila')
texto = 'Texto entre apostrofos podem ter "aspas"'
print("Teste \" funciona")
print(texto)

doc = """Texto com múltipals
    ... linhas"""
print(doc)
print('Texto com múltiplas\n\t... linhas')
doc2 = '''Também é possível
... com 3 aspas simples'''
print(doc2)

Saulo Pedro
S
True
Teste " funciona
Texto entre apostrofos podem ter "aspas"
Texto com múltipals
    ... linhas
Texto com múltiplas
	... linhas
Também é possível
... com 3 aspas simples

In [53]:
nome = 'Ana Paula'
print(nome[0])
print(nome[6])
print(nome[-3])
print(nome[4:])
print(nome[-5:])
print(nome[:3])
print(nome[:4])
print(nome[2:5])

numeros = '1234567890'
print(numeros)
print(numeros[::])
print(numeros[::2])
print(numeros[1::2])
print(numeros[::-1])
print(numeros[::-2])

print(nome[::-1])

A
u
u
Paula
Paula
Ana
Ana
a P
1234567890
1234567890
13579
24680
0987654321
08642
aluaP anA

In [66]:
frase = 'Python é uma linguagem excelente'
print('py' not in frase)
print('ing' in frase)

print(len(frase))
print(frase.lower())
print('py' in frase.lower())
frase = frase.upper()
print(frase)

print(frase.split())
print(frase.split('E'))

dir(str)
print(help(str.center))

True
True
32
python é uma linguagem excelente
True
PYTHON É UMA LINGUAGEM EXCELENTE
['PYTHON', 'É', 'UMA', 'LINGUAGEM', 'EXCELENTE']
['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']
Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

None

In [71]:
a = '123'
b = ' de Oliveira 4'
print(a + b)
print(a.__add__(b))
print(str.__add__(a, b))

print(len(a))
print(a.__len__())
print('1' in a)
print(a.__contains__('1'))

123 de Oliveira 4
123 de Oliveira 4
123 de Oliveira 4
3
3
True
True

# Listas

In [75]:
lista = []
print(type(lista))
# dir(lista)
# help(list)
print(len(lista))
lista.append(1)
lista.append(5)
print(lista)
print(len(lista))

nova_lista = [1, 5, 'Ana', 'Bia']
print(nova_lista)
nova_lista.remove(5)
print(nova_lista)
nova_lista.reverse()
print(nova_lista)

<class 'list'>
0
[1, 5]
2
[1, 5, 'Ana', 'Bia']
[1, 'Ana', 'Bia']
['Bia', 'Ana', 1]

In [77]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
print(lista.index('Guilherme'))
# lista.index(42)
print(lista[2])
print(1 in lista)
print('Rebeca' in lista)
print('Pedro' not in lista)
print(lista[0])
print(lista[4])
# lista[5]
print(lista[-1])
print(lista[-5])

3
Rebeca
True
True
True
1
3.1415
3.1415
1

In [79]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo']
print(lista[1:3])
print(lista[1:-1])
print(print(lista[1:]))
print(lista[:-1])
print(lista[:])
print(lista[::2])
print(lista[::-1])
del lista[2]
print(lista)
del lista[1:]
print(lista)

['Lia', 'Rui']
['Lia', 'Rui']
['Lia', 'Rui', 'Paulo']
None
['Ana', 'Lia', 'Rui']
['Ana', 'Lia', 'Rui', 'Paulo']
['Ana', 'Rui']
['Paulo', 'Rui', 'Lia', 'Ana']
['Ana', 'Lia', 'Paulo']
['Ana']

# Tuplas

In [89]:
tupla = tuple()
tupla = ()
print(type(tupla))
# dir(tupla)
# help(tupla)
tupla = ('um')
print(type(tupla))
tupla = ('um',)
print(type(tupla))
tupla[0]
# tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul')
print(cores[0])
print(cores[1])
print(cores[1:])

print(cores.index('amarelo'))
print(cores.count('azul'))

<class 'tuple'>
<class 'str'>
<class 'tuple'>
verde
amarelo
('amarelo', 'azul')
1
1

# Dicionários

In [97]:
pessoa = {
    'nome': 'Prof(a). Ana', 
    'idade': 38,
    'cursos': [
        'Inglês',
        'Português'
    ]
}
print(type(pessoa))
dir(dict)
print(len(pessoa))

print(pessoa)
print(pessoa['nome'])
print(pessoa['idade'])
print(pessoa['cursos'])
print(pessoa['cursos'][1])
print(pessoa.keys())
print(pessoa.values())
print(pessoa.items())
print(pessoa.get('idade'))
print(pessoa.get('tags'))
print(pessoa.get('tags'), [])

<class 'dict'>
3
{'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
Prof(a). Ana
38
['Inglês', 'Português']
Português
dict_keys(['nome', 'idade', 'cursos'])
dict_values(['Prof(a). Ana', 38, ['Inglês', 'Português']])
dict_items([('nome', 'Prof(a). Ana'), ('idade', 38), ('cursos', ['Inglês', 'Português'])])
38
None
None []

In [99]:
pessoa = {
    'nome': 'Prof(o). Alberto',
    'idade': 43,
    'cursos': [
        'React',
        'Python'
    ]
}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
print(pessoa)
pessoa.pop('idade')

print(pessoa)
pessoa.update({'idade': 40, 'Sexo': 'M'})
print(pessoa)
del pessoa['cursos']
print(pessoa)
pessoa.clear()
print(pessoa)

{'nome': 'Prof(o). Alberto', 'idade': 44, 'cursos': ['React', 'Python', 'Angular']}
{'nome': 'Prof(o). Alberto', 'cursos': ['React', 'Python', 'Angular']}
{'nome': 'Prof(o). Alberto', 'cursos': ['React', 'Python', 'Angular'], 'idade': 40, 'Sexo': 'M'}
{'nome': 'Prof(o). Alberto', 'idade': 40, 'Sexo': 'M'}
{}

# Conjuntos

In [122]:
a = {1, 2, 3}
print(a)
print(type(a))
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
print({1, 2, 3} == {3, 2, 1, 3})


# operações
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
print(c1)
# verificar se é subconjunto
print(c2 <= c1)
print(c1 >= c2)


print({1, 2, 3} - {2})
print(c1 - c2)
c1 -= {2}
print(c1)

{1, 2, 3}
<class 'set'>
{'r', 'd', 'c', '3', 'o'}
True True
True
{1, 2, 3}
True
True
{1, 3}
{1}
{1, 3}

# Interpolação

In [123]:
from string import Template

nome, idade = 'Ana', 30.92

print('Nome: %s Idade: %.1f %r %s' % (nome, idade, True, False)) # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade)) # python < 3.6
print(f'Nome: {nome} Idade: {idade} {2 ** 8 + 1}') # python >= 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30.9 True False
Nome: Ana Idade: 30.92
Nome: Ana Idade: 30.92 257
Nome: Ana Idade: 30.92